/* ======== COLORS ======== */

$main: (
  fake-black: #2c2b2e,
  dark-grey: #2c2b2e,
  blue: #1c72a6,
  white: #fff,
  blue-cta: #009efe,
);
$fluo: (
  green-for-white-bg: #6ad300,
);
$secondary: (
  blue-interaction: #009efe,
  grey-middledark: #818487,
);

/* ======== FONTS ========= */

$font: (
  regular: 1rem,
  small: 0.875rem,
  extra-small: 0.75rem,
);
